body {
    background: url(../assets/photos/bgtexture.jpg);
    height: fit-content;
}

@font-face {
    font-family: "Montauk-Light";
    src: url("../assets/fonts/Montauk-Regular/Montauk-Light.otf");
}

.navbar {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fugaz One', sans-serif;
    background-color: transparent !important;
}

.nav-link {
    padding-left: 10px !important;
}

.HeaderText {
    font-family: 'Fugaz One', sans-serif;
    color: rgba(95, 0, 43, 1);
    font-size: 3em;
}

.photosDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PhotosRow {
    height: 95%;
    column-gap: 8px;
}

.PhotosCol {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin-top: 18px;
}

.ListImg {
    border: solid white .5vw;
    height: 398px;
    width: 398px;
}

.foot {
    width: 85%;
    position: relative;
    font-family: 'Montauk-Light';
    color: rgba(95, 0, 43, 1);
    font-weight: lighter;
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    .ListImg {
        height: 262px;
        width: 262px;
    }
}

@media screen and (max-width: 1901px) {

    .photosDiv {
        flex-direction: row;
    }
}

@media screen and (max-width: 1395px) {

    .photosDiv {
        flex-direction: column;
    }
}