body {
    background: url(../assets/photos/bgtexture.jpg);
    width: 100%;
}

@font-face {
    font-family: "Montauk-Light";
    src: url("../assets/fonts/Montauk-Regular/Montauk-Light.otf");
}

@font-face {
    font-family: "Montauk-Regular";
    src: url("../assets/fonts/Montauk-Regular/Montauk-Regular.otf");
}

.HeaderText {
    font-family: 'Fugaz One', sans-serif;
    color: #5F002B;
    font-size: 3em;
}

.Banner {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: white;
    width: 85%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}



/* Nav and Footer CSS */
.navbar {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fugaz One', sans-serif;
    background-color: transparent !important;
    margin-bottom: 41px;
}

.navbar button {
    background-color: #5F002B;
}

.navbar-nav h5 {
    color: #5F002B;
}

.navbar-nav {
    column-gap: 3%;
}

footer {
    width: 85%;
    font-family: 'Montauk-Light';
    color: #5F002B;
    font-weight: lighter;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.footerEnd {
    text-align: end;
}

/* End of Nav and Foot CSS */



/* Menu CSS */
.menuList {
    padding: 10px;
}

.menuImage {
    width: 100%;
    height: auto;
    min-width: 400px;
}

.menuFont {
    font-family: 'Montauk-Light';
    color: #5F002B;
    font-weight: lighter;
    font-size: 20px;
}

.menuCol {
    background-color: white;
    margin-bottom: 20px;
    height: 796.55px;
    overflow: scroll;
    min-width: 400px;
}

.menuDiv {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 56px;
    padding-bottom: 120px;
}

/* End of Menu CSS */



/* Photos CSS */
.photosDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PhotosRow {
    height: 95%;
    width: 100%;
}

.PhotosCol {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin-top: 18px;
}

.ListImg {
    border: solid white .5vw;
    height: 398px;
    width: 398px;
}

/* End of Photos CSS */



/* Home CSS */
.herocontainer {
    height: 600px;
    background: url(../assets/photos/homeHero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-image-overlay {
    background-color: white;
    color: #5F002B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 350px;
}

.home-image-overlay h1 {
    font-family: 'Fugaz One', sans-serif;
    font-size: 50px;
}

.home-image-overlay p {
    font-family: 'Montauk-Light', sans-serif;
    font-size: 20px;
    line-height: 22px;
}

.contentRow {
    width: 85%;
}

/* End of Home CSS */



/* About CSS */
.aboutMainText {
    background-color: white;
    color: #5F002B;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    padding: 0;
    max-height: 675px;
    overflow: scroll;
}

.aboutMainText p {
    font-family: 'Montauk-Light', sans-serif;
    font-size: 20px;
    line-height: 22px;
    padding-left: 40px;
    padding-right: 64px;

}

.aboutMainText h1 {
    font-family: 'Fugaz One', sans-serif;
    font-size: 50px;
    padding-top: 30px;
    padding-left: 40px;


}

.aboutCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 34px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.aboutCards .row {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.aboutCards .col {
    padding: 0;
    padding-bottom: 20px;
    max-width: min-content;
}

.aboutCards .card {
    border: none;
    height: 732px;
    width: 530px;
    margin: 0;
    min-width: 360px;
}

.about-rectangle {
    width: 100%;
    height: 80px;
    background-color: white;
}

.about-rectangle p {
    color: #5F002B;
    font-family: 'Fugaz One', sans-serif;
    font-size: 30px;
}

.card h5 {
    font-family: 'Fugaz One', sans-serif;
    color: #5F002B;
    font-size: 30px;
}

.card,
.card-img-top {
    border-radius: 0;
}

.card p {
    font-family: 'Montauk-Light', sans-serif;
    color: #5F002B;
    font-size: 20px;
    line-height: 20px;
}

/* End of About CSS */



/* Catering CSS */
.cateringImage {
    width: 100%;
    height: auto;
}

.cateringTextDiv {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.cateringTextDiv .row {
    padding: 0;
    height: 365px !important;
    width: 85%;
}

.cateringText {
    background-color: white;
    color: #5F002B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 350px;
    max-height: 365px;
    max-width: 950px;
    overflow: scroll;
    padding: 40px 40px 0px 40px;
    line-height: 20px;
}

/* End of Catering CSS */



@media screen and (max-width: 375px) {

    .cateringTextDiv {
        justify-content: start;
    }
}

@media screen and (max-width: 425px) {

    footer {
        display: flex;
        text-wrap: nowrap;
        text-align: center;
    }

    .footerEnd {
        text-align: center;
    }

    .aboutCards .col {
        max-width: none;
    }

    .aboutCards .card {
        width: 100%;
        height: 100%;
    }

    .menuDiv {
        width: auto;
    }

    .cateringTextDiv .row {
        width: 85%;
    }

    .cateringText {
        text-align: center;
        width: 85;
    }

}


@media screen and (max-width: 768px) {
    .ListImg {
        height: 262px;
        width: 262px;
    }

    .contentRow {
        width: 100%;
    }

    .home-image-overlay {
        text-align: center;
    }

    .aboutMainText {
        text-align: center;
    }

    .aboutMainText h1 {
        padding-left: 0;
    }
}

@media screen and (max-width: 1024px)
{
    .aboutCards{
        flex-direction: row;
    }
}

@media screen and (max-width: 1901px) {

    .photosDiv {
        flex-direction: row;
    }
}

@media screen and (max-width: 1440px) {

    .photosDiv {
        flex-direction: column;
    }

    .aboutCards {
        flex-direction: column;
    }

    .navbar .text-center {
        text-align: end !important;
    }
}