@font-face {
    font-family: "Montauk-Light";
    src: url("../assets/fonts/Montauk-Regular/Montauk-Light.otf");
}

.navbar{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fugaz One', sans-serif;
    background-color: transparent !important;
}

.navlink{
    margin-right: 100px;
}

body {
    background: url(../assets/photos/bgtexture.jpg);
    height: fit-content;
   
}

.HeaderText{
    font-family: 'Fugaz One', sans-serif;
    color: rgba(95, 0, 43, 1);
    font-size: 3em;
}

.foot {
    width: 85%;
    position: relative;
    font-family: 'Montauk-Light';
    color: rgba(95, 0, 43, 1);
    font-weight: lighter;
    font-size: 20px;
}

.menuFont {
    font-family: 'Montauk-Light';
    color: rgba(95, 0, 43, 1);
    font-weight: lighter;
    font-size: 20px;
}

.ListImg{
    border: solid white .5vw;
    padding: 0px;
    height: 398px;
    width: 398px;
}

.PhotosCol{
    padding: 0;
    width: min-content;
    display: flex;
    justify-content: space-evenly;
    margin-top: 18px;
}

.PhotosRow{
    width: 100%;
    height: 95%;
    column-gap: 8px;

}

.photosDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white-bg{
    background-color: white;    
}

.menuList{
    padding: 10px;
}

.menuImage{
    width: 100%;
    height: auto;
}

.cateringImage{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 500px){
    .ListImg{
        height: 262px;
        width: 262px;
    }
}

